* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Garamond, serif;
  font-size: 16px;
  background-color: DarkOrchid;
  margin: auto;
  padding: 0;
}

header {
  background-color: DarkViolet;
  padding: 20px;
  text-align: center;
  outline-style: auto;
}

#a_header:link {
  color: white;
  text-decoration: none;
}

#a_header:visited {
  color: white;
  text-decoration: none;
}

nav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #4b0082;
}
nav a.index {
  color: white;
  text-decoration: none;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
nav a.index:visited {
  color: white;
  text-decoration: none;
}
nav a.index:hover {
  background-color: Thistle;
  color: black;
}

#div_date {
  text-align: center;
}

#current_date_block {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

main {
  height: 100%;
}

.index_info {
  text-align: center;
}

footer {
  background-color: DarkViolet;
  padding: 20px;
  text-align: center;
  outline-style: auto;
}

fieldset {
  border: 1px solid RosyBrown;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: Orchid;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 3px 3px DarkMagenta;
  margin: 10px;
}

#delete {
  background-color: Red;
  box-shadow: 3px 3px DarkRed;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  border-radius: 10px;
  font-family: Garamond, serif;
  font-size: 16px;
}

.input:focus {
  background-color: Thistle;
  border-radius: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  clear: both;
  text-align: right;
}

.col-75 {
  float: left;
  width: 72.5%;
  margin-top: 6px;
}

.col-20 {
  float: left;
  width: 50%;
  margin-top: 6px;
  clear: both;
  text-align: right;
}

.col-40 {
  float: left;
  width: 50%;
  margin-top: 6px;
  text-align: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.error {
  text-align: center;
}

h1.error {
  margin-top: 10%;
  font-size: 80px;
}

h2.error {
  font-size: 35px;
}

p.error {
  font-style: italic;
  font-size: 30px;
}

a.nav {
  color: white;
  text-decoration: none;
  float: right;
  display: block;
  text-align: center;
  padding: 19px 20px;
}

a.nav:visited {
  color: white;
  text-decoration: none;
}

a.nav:hover {
  background-color: Thistle;
  color: black;
}

#nav {
  color: white;
  text-decoration: none;
  font-size: 20px;
  float: left;
  display: block;
  text-align: center;
}

.user, .event {
  color: white;
  text-decoration: none;
  clear: both;
}
.user h3, .event h3 {
  float: left;
  width: 80%;
}
.user p, .event p {
  float: right;
  width: 100%;
  text-align: left;
}

.user {
  width: 60%;
  float: left;
  padding: 10px;
}

.list_event {
  color: white;
  text-decoration: none;
  width: 40%;
  float: left;
  padding: 10px;
}
.list_event h3 {
  float: left;
  width: 100%;
}
.list_event a.info {
  margin: 5px;
  color: white;
  text-decoration: none;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  background-color: Orchid;
  box-shadow: 3px 3px DarkMagenta;
}
.list_event a.info:visited {
  color: white;
  text-decoration: none;
}
.list_event a.info:hover {
  background-color: Thistle;
  color: black;
}

@media screen and (max-width: 600px) {
  a {
    width: 100%;
  }

  #a_header {
    font-size: 10px;
  }

  #current_date_block {
    font-size: 30px;
  }

  #nav {
    text-align: center;
  }

  .col-25, .col-75, .col-20, .col-40 {
    width: 95%;
    margin-top: 0;
    clear: both;
    text-align: left;
  }

  .button {
    width: 100%;
    margin-top: 0;
    clear: both;
    text-align: center;
  }

  .user, .event, .list_event {
    width: 100%;
  }
}